@page "/todo/{todoId:int}"

@if(ToDoId > 0){
    <PageTitle>ToDo - Edit</PageTitle>
    <h3>Edit ToDo</h3>
}
else
{
    <PageTitle>ToDo - Add</PageTitle>
    <h3>Add ToDo</h3>
}
@if (Model != null)
{
    <EditForm Model="Model" OnValidSubmit="Save">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <InputText id="Title" class="form-control" @bind-Value="Model.Title" />
            <ValidationMessage For="(() => Model.Title)" />
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <InputText id="Description" class="form-control" @bind-Value="Model.Description" />
            <ValidationMessage For="(() => Model.Description)" />
        </div>
        <div class="mb-3">
            <label for="DueDate" class="form-label">Due Date</label>
            <InputDate id="DueDate" class="form-control" @bind-Value="Model.DueDate" />
        </div>
        <div class="row gx-2 justify-content-end">
            <div class="col-auto py-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="col-auto py-2">
                <button type="button" class="btn btn-danger" @onclick="Cancel">Cancel</button>
            </div>
        </div>
    </EditForm>
}
@if (ShowCancelPopup)
{
    <div class="cancel-modal">
        <div class="cancel-modal_container text-center">
            <p>You have chosen to leave the form and you will lose your unsaved data. Select Yes to save your changes and leave, No to cancel your changes and leave.</p>
            <div class="row gx-2 justify-content-center">
                <div class="col-auto py-2">
                    <button type="button" class="btn btn-primary" @onclick="Save">Yes</button>
                </div>
                <div class="col-auto py-2">
                    <a class="btn btn-danger" @onclick="Reset">No</a>
                </div>
            </div>
        </div>
    </div>
}