@page "/"

<PageTitle>ToDo</PageTitle>

<ToDosListContent />

<p>CurrentCulture: @System.Globalization.CultureInfo.CurrentCulture</p>
<p>Date: @DateTime.Now.ToLongDateString()</p>
<p>Date: @DateTime.Now.ToShortDateString()</p>