@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>
	<main>
		<div class="top-row px-4">
			<div class="d-inline-block">
				<label for="LanguageSelect" class="form-label visually-hidden">@Resource.LangSelectorLabel</label>
				<select class="form-select" id="LanguageSelect" @onchange="Change" value="@LanguageSelected">
					<option value="en-US">@Resource.LangSelectorEnglish</option>
					<option value="ro-RO">@Resource.LangSelectorRomanian</option>
				</select>
			</div>
		</div>
		<div class="container-fluid py-3">
			@Body
		</div>
	</main>
</div>