@inherits LayoutComponentBase

<div class="page @PageClass">
	<PageLoader IsVisible="ShowLoader" />
	<div class="page_overlay" @onclick="CloseUserSettings"></div>
	<div class="sidebar">
		<NavMenu />
	</div>
	<main>
		<div class="top-row px-4">
			<div class="row gx-1">
				<div class="col-auto">
					<button type="button" class="btn btn-primary btn-user-settings p-0" @onclick="ToggleUserSettings">
						@if (!string.IsNullOrWhiteSpace(UserName))
						{
							<span>@UserName</span>
						}
						else
						{
							<span class="img-user-settings"></span>
						}
					</button>
				</div>
			</div>
		</div>
		<div class="container-fluid py-3">
			<CascadingValue Value="this">
                @Body
            </CascadingValue>
		</div>
	</main>
	<UserSettingsContent UserProfile="UserProfile" OnEditProfile="CloseUserSettings" />
</div>